# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# python cache
__pycache__

# jupyter
.ipynb_checkpoints

# test
Untitled*

# data
prediction
pickle
result
dict

# ide
.vscode
.idea/
.history

# py compile file
*.pyc
*.pyo

.DS_Store

# Latex

## Core latex/pdflatex auxiliary files:
*.log
*.aux
*.bbl
*.blg
*.tex.undo
*.tex.bak
*.~te
*.$te
*.DVX
*.DDF
*.synctex.gz
*.synctex.gz(busy)
*.fdb_latexmk
*.fls
*.out
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind

*.dvi
*.ps

# middle data
data/pkl/
checkpoint
